/* modal window styles */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .entity-name {
  margin-top: 0;
  color: #333;
}

.popup-close {
  float: right;
}

.popup-close:hover {
  color: #06d85f;
}

.popup-header {
  clear: both;
  text-align: center;
  margin-bottom: 15px;
}

.popup-content {
  max-height: 30%;
  overflow: auto;
}
